@{
    ViewData["Title"] = "Detector";
}

<div class="text-center">
    <h1 class="display-4">Yolo Detector</h1>

    <input type="file" id="fileInput" />
    <button onclick="analyzeImage()">Analyze</button>
    <div id="progressIndicator" style="display: none;">Analyzing image...</div>
    <div id="results"></div>

    <script>
    function getBase64Image(imgData) {
        let pos = imgData.indexOf('base64,');
        return pos > -1 ? imgData.slice(pos + 'base64,'.length) : imgData;
    }

    async function AnalyzeImageOnServer(img64)
    {
        await fetch("https://localhost:7074/DetectObjects",
        {
            method: "POST",
            headers: 
            {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(img64),
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('progressIndicator').style.display = 'none';
            var resultDiv = document.getElementById('results');
            var hr = document.createElement('hr');
            //hr.style.borderTop = "thick solid #0000FF";
            resultDiv.appendChild(hr);

            if (data.length > 0)
            {
                for (let i = 0; i < data.length; i++)
                {
                    //console.log(data[i].img64);
                    const curRes = document.createElement('div');
                    curRes.textContent = `Object: ${data[i].class}, Confidence: ${data[i].confidence.toPrecision(2)}`;

                    resultDiv.appendChild(curRes);
                }    

                let imgElement = `<img src="data:image/jpeg;base64,${data[0]?.img64}" alt="Image loading error"/>`;
                resultDiv.insertAdjacentHTML('beforeend', imgElement);
            }
            else //no objects found <=> data.length == 0
            {
                const emptyRes = document.createElement('div');
                emptyRes.textContent = `No objects found.`;

                resultDiv.appendChild(emptyRes);
            }
        });
    }

    async function analyzeImage() {
        document.getElementById('progressIndicator').style.display = 'block';
        const fileInput = document.getElementById('fileInput');
        const file = fileInput.files[0];

        var reader = new FileReader();
        reader.onload = function() {
            let base64Image = getBase64Image(reader.result);
            //console.log(reader.result);
            //console.log(base64Image);
            AnalyzeImageOnServer(base64Image);
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
    </script>
</div>
